@(studentForm: Form[Student])

@import helper._
@import helper.twitterBootstrap._

@main("Student form") {
<center><h1>Thông tin học viên</h1></center>
<div class="alert alert-success" style="width : 600 px">
    @form(CSRF(routes.userStudent.save())) {
    <input type="hidden" value="@studentForm("id").valueOr("")" name="id"/>
    <legend>Student(@studentForm("name").valueOr("new"))</legend>
    <fieldset>
        <b>Mã sinh viên:</b>
        <input class="form-control" type="number" name="msv" value="@studentForm("msv").value" readonly>
        <span class="help-block">@{studentForm("msv").error.map { error => error.message }}</span><br/><br/>

        <b>Họ và tên:</b>
        <input class="form-control" type="text" name="name" value="@studentForm("name").value">
        <span class="help-block">@{studentForm("name").error.map { error => error.message }}</span><br/><br/>

        <b>Ngày sinh:</b>
        <input class="form-control" type="date" name="birthday" value="@studentForm("birthday").value">
        <span class="help-block">@{studentForm("birthday").error.map { error => error.message }}</span><br/><br/>

        <b>Khoa:</b>
        <select name="khoa">
            <option value="Công nghệ thông tin">Công nghệ thông tin</option>
            <option value="Điện tử viễn thông">Điện tử viễn thông</option>
            <option value="Cơ - Tự động hóa">Cơ - Tự động hóa</option>
            <option value="Khoa học máy tính">Khoa học máy tính</option>
        </select><br/><br/>

        <b>Email: </b>
        <input class="form-control" type="email" name="email" value="@studentForm("email").value" readonly>
        <span class="help-block">@{studentForm("email").error.map { error => error.message }}</span><br/><br/>


        <b>Đề tài:</b>
        <input class="form-control" type="text" name="tendt" value="@studentForm("tendt").value">
        <span class="help-block">@{studentForm("tendt").error.map { error => error.message }}</span><br/><br/>
        </table>
    </fieldset>
    <input type="submit" class="btn btn-primary" value="Save">
    <a class="btn" href="@routes.userStudent.tt(Student.findByMsv(studentForm("msv").value))">Cancel</a>
</div>
}
</div>
}