@(currentPage: com.avaje.ebean.Page[UserAccount])
@main("UserAccounts catalogue") {
@navigation3()

<h2><center>Danh sách người dùng</center></h2>
<script>
    function del ( urlToDelete ) {
        $.ajax ( {
            url : urlToDelete,
            type : 'DELETE',
            success : function ( results ) {
                // Refresh the page
                location.reload ( ) ;
            }
        } ) ;
    }
    </script>



<div id="pagination" class="pagination">
    @if(currentPage.hasPrev) {
    <li>
        <a href="@routes.Accounts.list(currentPage.getPageIndex - 1)">&larr;</a>
    </li>
    } else {
    <li class="disabled"><a>&larr;</a></li>
    }
    <li class="active"><a>
        @currentPage.getDisplayXtoYofZ(" - ", " / ")</a></li>
    @if(currentPage.hasNext) {
    <li>
        <a href="@routes.Accounts.list(currentPage.getPageIndex + 1)">&rarr;</a>
    </li>
    } else {
    <li class="disabled"><a>&rarr;</a></li>
    }
</div>


<table class="table table-striped">
    <thead>
    <tr>
        <th>User</th>
        <th>Email</th>
        <th>Chức vụ</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>    @for(account <- currentPage.getList()) {
    <tr>
        @if(account.cv == "admin"){
            <td style="background-color:#FFFF00"><a href="@routes.Accounts.details(account)">@account.name</td>
            <td>@account.email</td>
            <td>@account.cv</td>
        }
        @if(account.cv == "teacher"){
            <td style="background-color:#FAEBD7"><a href="@routes.Accounts.details(account)">@account.name</td>
            <td>@account.email</td>
            <td>@account.cv</td>
        }
        @if(account.cv == "student"){
            <td style="background-color:#7FFFD4">@account.name</td>
            <td>@account.email</td>
            <td>@account.cv</td>
        }
        <td><a onclick="del('@routes.Accounts.delete(account.msv)')">Xóa</a></td>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    </tr>
    }
    </tbody>
</table>

<a href="@routes.Accounts.newAccount()" class="btn btn-primary">
    New account
</a>
}