@(currentPage: com.avaje.ebean.Page[Student])
@main("Students catalogue") {
@navigation3()

<h2><center>Danh sách sinh viên</center></h2>
<script>
    function del ( urlToDelete ) {
        $.ajax ( {
            url : urlToDelete,
            type : 'DELETE',
            success : function ( results ) {
                // Refresh the page
                location.reload ( ) ;
            }
        } ) ;
    }
    </script>



<div id="pagination" class="pagination">
    @if(currentPage.hasPrev) {
    <li>
        <a href="@routes.Students.list(currentPage.getPageIndex - 1)">&larr;</a>
    </li>
    } else {
    <li class="disabled"><a>&larr;</a></li>
    }
    <li class="active"><a>
        @currentPage.getDisplayXtoYofZ(" - ", " / ")</a></li>
    @if(currentPage.hasNext) {
    <li>
        <a href="@routes.Students.list(currentPage.getPageIndex + 1)">&rarr;</a>
    </li>
    } else {
    <li class="disabled"><a>&rarr;</a></li>
    }
</div>


<table class="table table-striped">
    <thead>
    <tr>
        <th></th>
        <th>Msv</th>
        <th>Họ và tên</th>
        <th>Email</th>
        <th> </th>
    </tr>
    </thead>
    <tbody>    @for(student <- currentPage.getList()) {
    <tr>
        <td><a href="@routes.Students.tt(student)">
            <span class="glyphicon glyphicon-pencil"></span></a>
        </td>
        <td>@student.msv</td>
        <td>@student.name</td>
        <td>@student.email</td>
        <td><a onclick="del('@routes.Students.delete(student.msv)')">Xóa</a></td>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    </tr>
    }
    </tbody>
</table>
}