@(accountForm: Form[UserAccount])

@import helper._
@import helper.twitterBootstrap._

@main("Account form") {
@navigation2(accountForm("msv").value)
<center><h1>Thông tin tài khoản</h1></center>
<div class="alert alert-success" style="width : 600 px">
    @form(CSRF(routes.Students.save())) {
    <input type="hidden" value="@accountForm("id").valueOr("")" name="id"/>
    <legend>Account(@accountForm("name").valueOr("new"))</legend>
    <fieldset>
        <table class="table table-striped">
            <tr>
                <td>Msv:</td>
                <td>@accountForm("msv").value</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Tên sử dụng:</td>
                <td>@accountForm("name").value</td>
                <td><a href="@routes.userStudent.changeTk(UserAccount.findByMsv(accountForm("msv").value))">thay đổi</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>@accountForm("email").value</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>PassWord:</td>
                <td>********</td>
                <td><a href="@routes.userStudent.changeTk(UserAccount.findByMsv(accountForm("msv").value))">thay đổi</td>
            </tr>
        </table>
    </fieldset>
</div>
}
</div>
}