@(loginForm: Form[Application.Login])

@main("Please sign in to the student application") {
@helper.form(helper.CSRF(routes.Application.authenticate)) {
@navigation()

</head>
<span class="titleButtons" id="_titlebarExtraContent"></span>
<body  align="center" text="#000000" bgcolor="#ffffff" link="#0000cc" vlink="#0000cc" alink="#0000cc" onload="squirrelmail_loginpage_onload();">
    <style type="Text/CSS">
        td.dhqg {font-family: Verdana; font-size: 13pt; font-weight: bold; color: GREEN; text-decoration:none !important }
        #webmail {font-family: Forte; color: BLUE; font-size: 30pt}
        #image {background: transparent url(ctlogo.png) no-repeat center top;}
        #ccne {background: #99ccff; font-family: Verdana; font-size: 6pt}
    </style>

    <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody><tr><td colspan="2">&nbsp;</td></tr>
        <tr><td width="80" rowspan="2" valign="top" align="center" id="image">&nbsp;</td>
        <tr><td id="webmail">&nbsp;&nbsp;L o g &nbsp; i n</td></tr>
        </tbody></table>
    <table align="center" width="100%" border="0" cellspacing="0" cellpadding="20" style="font-family: Arial; font-size:10pt">
        <tbody><tr align="center">
            <td width="320" valign="top">
                <table align="center" width="100%" bgcolor="FFFFFF" class="moduleBody" border="0" cellspacing="20" cellpadding="0">
                    <tbody>
                        <table class="list-group-item" align="center"  width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family: Verdana; font-size:10pt">
                            <tbody><tr><td colspan="2" align="center"><b><font face="Arial" color="BLUE">CHÀO MỪNG BẠN</font></b><br>đã đến với dịch vụ đăng ký luận văn cao học của UET07<br><br>&nbsp;</td></tr>
                            <tr><td width="50%" align="right">Tên đăng nhập:&nbsp;&nbsp;&nbsp;</td><td width="100%" align="left"><input type="text" name="email" value="@loginForm("email").value">
                            </td><td>&nbsp;</td></tr>
                            <tr><td width="50%" align="right">Mật khẩu:&nbsp;&nbsp;&nbsp;</td><td><input type="password" name="password">
                            </td><td>&nbsp;</td></tr>
                            <tr><td colspan="2">&nbsp;</td></tr>
                            <tr><td colspan="2" align="center"><input type="submit" value="Đăng nhập">
                            </td></tr>
                            </div></div>
                            </tbody></table>

                        <br>Chú ý: Tên đăng nhập và mật khẩu phân biệt chữ hoa, chữ thường.<br>
                    </td></tr>
                    </tbody></table>
            </td>
        </tr>
        </tbody></table>

</body>

}
}