@(studentForm: Form[Student])

@import helper._
@import helper.twitterBootstrap._

@main("Student form") {
@navigation3()
<center><h1>Thông tin học viên</h1></center>
<div class="alert alert-success" style="width : 600 px">
    @form(CSRF(routes.userStudent.save())) {
    <input type="hidden" value="@studentForm("id").valueOr("")" name="id"/>
    <legend>Student(@studentForm("name").valueOr("new"))</legend>
    <fieldset>
        <table class="table table-striped">
            <tr>
                <td>Msv:</td>
                <td>@studentForm("msv").value</td>
            </tr>
            <tr>
                <td>Họ tên:</td>
                <td>@studentForm("name").value</td>

            </tr>
            <tr>
                <td>Ngày sinh:</td>
                <td>@studentForm("birthday").value</td>

            </tr>
            <tr>
                <td>Khoa:</td>
                <td>@studentForm("khoa").value</td>

            </tr>
            <tr>
                <td>Email:</td>
                <td>@studentForm("email").value</td>

            </tr>
            <tr>
                <td>Đề tài:</td>
                <td>@studentForm("tendt").value</td>
            </tr>
        </table>

        <a href="@routes.Students.list(0)"><b>Back</b>
    </fieldset>
</div>
}
}