@(accountForm: Form[UserAccount])

@import helper._
@import helper.twitterBootstrap._

@main("Account form") {

<center><h1>Cập nhật thông tin</h1></center>
<div class="alert alert-success" style="width : 600 px">
    @form(CSRF(routes.Accounts.save())) {
    <input type="hidden" value="@accountForm("id").valueOr("")" name="id"/>
    <legend>Account (@accountForm("name").valueOr("new"))</legend>
    <fieldset>
        <b>Username:</b>
        <input class="form-control" type="text" name="name" value="@accountForm("name").value"><br/><br/>

        <b>Email: </b>
        <input class="form-control" type="email" name="email" value="@accountForm("email").value"><br/><br/>

        <b>Password:</b>
        <input class="form-control" type="password" name="password" value="@accountForm("password").value"><br/><br/>

        <b>Chức vụ:</b>
        <select name="cv">
            <option value="admin">Giáo vụ</option>
        </select><br/><br/>

        <b>Mã:</b>
        <input class="form-control" type="text" name="msv" value="@accountForm("msv").value"><br/><br/>

    </fieldset>
</div>
<input type="submit" class="btn btn-primary" value="Save">
<a class="btn" href="@routes.Accounts.list()">Cancel</a>}
}